<div id="divCorrecto" class="" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 50%;width: 100%; height: 100%; z-index: 30001; display:none;">
    <div class="bg-success vertical-center border rounded justify-content-center" style="display:grid; margin:auto; width: 300px; height: 75px; color: white;">
        <span class="my-auto" style="font-size: 20px;">Acción realizada correctamente</span>
    </div>
</div>

